.cart-widget {
    position: relative;
    display: flex;
    align-items: center;
    
  }
  
  .cart-item-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red !important;
    color: white !important;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  