.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 10px 20px;
}

.logo-img {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    font-family: 'Inter', sans-serif;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.cart-icon img {
    width: 24px;
    height: 24px;
}

.cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

/* Mobile styles */
@media (max-width: 768px) {
    .nav-links {
        z-index: 50;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #090909;
        width: 100%;

    }

    .nav-links.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
        left: 50px;

    }

    .navbar {
        padding: 10px 20px;
    }

    .cart-icon {
        margin-left: 10px;
        position: absolute;
        right: 15%;
    }
}